{% extends "base.html.twig" %}
{% block body %}
    <div id="content">
        <div id="nav" class="btn-group-vertical ">
            <a type="button" class="btn"><i class="fa fa-home " aria-hidden="true"></i></a>
            <a type="button" class="btn"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
            <a type="button" class="btn"><i class="fa fa-certificate" aria-hidden="true"></i></a>
            <a type="button" class="btn"><i class="fa fa-newspaper-o" aria-hidden="true"></i></a>
            <a type="button" class="btn"><i class="fa fa-share-square-o" aria-hidden="true"></i></a>
        </div>
    </div>
    <div id ="contenaire">
        <div id="widget">
            <i class="fa fa-pencil fa-5x" aria-hidden="true"></i>
        </div>
        <div id="widget">
            <i class="fa fa-pencil fa-5x" aria-hidden="true"></i>
        </div>
        <div id="widget">
            <i class="fa fa-pencil fa-5x" aria-hidden="true"></i>
        </div>
        <div id="widget">
            <i class="fa fa-pencil fa-5x" aria-hidden="true"></i>
        </div>
        <div id="widget">
            <i class="fa fa-pencil fa-5x" aria-hidden="true"></i>
        </div>
        <div id="widget">
            <i class="fa fa-pencil fa-5x" aria-hidden="true"></i>
        </div>
    </div>
{% endblock %}
