{% extends "adminbase.html.twig" %}
{% block sidebar %}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default panel_widget">
                <div class="widget-heading">
                    Messages
                </div>
                <div class="widget-body">
                    <ul class="widget-list">
                        <li>
                            <strong>Inscriptions</strong><br>
                            <em>corin.alex@mail.com</em>
                            <span>28/04/2017 16h22</span>
                        </li>
                        <li>
                            <strong>Information sur la formation</strong><br>
                            <em>corin.alex@mail.com</em>
                            <span>28/04/2017 16h22</span>
                        </li>
                        <li>
                            <strong>Proposition partenariat</strong><br>
                            <em>corin.alex@mail.com</em>
                            <span>28/04/2017 16h22</span>
                        </li>
                        <li>
                            <strong>Un message de test</strong><br>
                            <em>corin.alex@mail.com</em>
                            <span>28/04/2017 16h22</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default panel_widget">
                <div class="widget-heading">
                    Derniers signalements
                </div>
                <div class="panel-body">
                    Aucune alerte
                </div>
            </div>
        </div>

{% endblock %}
