{% extends "base.html.twig" %}
{% block body %}
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-md-1">
    			<div class="btn-group">
                <div id="mainmenu" class="btn-group btn-group-lg btn-group-justified" role="group" aria-label="...">
                    <a type="button" class="btn"><i class="fa fa-home" aria-hidden="true"></i></a>
                    <a type="button" class="btn"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
                    <a type="button" class="btn"><i class="fa fa-certificate" aria-hidden="true"></i></a>
                    <a type="button" class="btn"><i class="fa fa-newspaper-o" aria-hidden="true"></i></a>
                    <a type="button" class="btn"><i class="fa fa-briefcase" aria-hidden="true"></i></a>
                    <a type="button" class="btn"><i class="fa fa-share-square-o" aria-hidden="true"></i></a>
                    <a type="button" class="btn"><i class="fa fa-key" aria-hidden="true"></i></a>
                </div>
    		</div>
    		<div class="col-md-11">
    			<div class="row">
    				<div class="col-md-4">
    				</div>
    				<div class="col-md-4">
    				</div>
    				<div class="col-md-4">
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
{% endblock %}
