{% extends 'base.html.twig' %}

{% block body %}
    <div><img src="img/logo.png" alt=""></div>
    <div class="container-fluid">
        <div class="row">
            <h3>                Qui somme nous?
            </h3>
            <div id="quisommenous">
                <p>
                    Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna.
                    In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et,
                    pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales.
                        Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em>
                    Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu,
                        pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
                </p>
            </div>
        </div>
    </div>
    <h3>
        Actu 1
    </h3>
    <div id="containeractu" class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <p>
                    Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>.
                    Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien,
                    sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus.
                    <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus,
                        id bibendum diam velit et dui.</em> Proin massa magna,        vulputate nec bibendum nec, posuere nec lacus.
                    <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
                </p>
            </div>
            <div class="col-md-3">
                <img id="imgactu" alt="Bootstrap Image Preview" src="http://lorempixel.com/141/140/" />
            </div>
        </div>
    </div>
    <h3>
        Actu 2
    </h3>
    <div id="containeractu" class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <p>
                    Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>.
                    Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit.
                    Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales.
                        Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna,
                    vulputate nec bibendum nec, posuere nec lacus.
                    <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
                </p>
            </div>
            <div class="col-md-3">
                <img id="imgactu" alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
            </div>
        </div>
    </div>
    <h3 class="text-center">
        Partenaire
    </h3>
    <div id="containerpart" class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="partenaireimg" class="row">
                    <div class="col-md-2">
                        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/153/140/" />
                    </div>
                    <div class="col-md-2">
                        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/152/140/" />
                    </div>
                    <div class="col-md-2">
                        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/151/140/" />
                    </div>
                    <div class="col-md-2">
                        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/150/140/" />
                    </div>
                    <div class="col-md-2">
                        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/149/140/" />
                    </div>
                    <div class="col-md-2">
                        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/148/140/" />
                    </div>
                </div>
                <div id="partenaireimg" class="row">
                    <div class="col-md-2">
                        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/147/140/" />
                    </div>
                    <div class="col-md-2">
                        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/146/140/" />
                    </div>
                    <div class="col-md-2">
                        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/145/140/" />
                    </div>
                    <div class="col-md-2">
                        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/144/140/" />
                    </div>
                    <div class="col-md-2">
                        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/143/140/" />
                    </div>
                    <div class="col-md-2">
                        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/142/140/" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3>Contactez nous</h3>
    <div id="containerpart" class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="email" value="Votre Email"class="form-control">
                    </br>
                    <textarea class="form-control" value"Votre demande" rows="5" ></textarea>
                    </br>
                    <button type="submit" class="btn btn-default">Envoyer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
