html, body { height: 100%; font-family: 'Roboto', sans-serif; }

#wrap { display: flex; height: 100%; }

#sidebar, main { height: 100%; }

.heading { height: 4em; line-height: 4em; padding: 0 1em; box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }

#sidebar { background-color: #2A2A2A; width: 4em; height: 100%; transition-duration: 0.5s; overflow: hidden; }

#sidebar a { margin: 0; padding: 0; display: block; text-align: left; height: 4em; line-height: 4em; color: #789; transition-duration: 0.3s; text-decoration: none; white-space: nowrap; }

#sidebar a:hover { color: #CCC; background-color: #E71B4E; }

#sidebar i { display: inline-block; width: 2.6em; text-align: center; font-size: 1.5em; }

#sidebar .heading { background-color: #333; }

#sidebar:hover { width: 16em; }

main { flex-grow: 1; background-color: #DDD; }

main .heading { background-color: #EEE; }

main .heading img { max-height: 2em; }

.widget-heading { padding: 1em; background-color: #EEE; color: #333; text-transform: uppercase; text-align: center; font-weight: 500; }

.widget-list { list-style: none; padding: 0; }

.widget-list li { height: 4em; padding: 0.5em 1em 0; color: #444; }

.widget-list li em { font-size: 0.9em; }

.widget-list li span { float: right; color: #AAA; font-size: 0.9em; }

.widget-list li:nth-child(even) { background-color: #F8F8F8; }

.widget-list li:hover { background-color: #EEE; cursor: pointer; }
