body{
    z-index: 0;
}
img{
    width: 80%;
    margin: 12% 10%;

}
h3{
    text-align: center;
    padding: 50px 0px 50px 0px;
}
#mainmenu{
    background-color: #2a2a2a;
    position: fixed;
    z-index: 1;

}

#mainmenu a{
    color: #CCC;
}
#mainmenu a:hover{
    color: #E71B4E;
}

#quisommenous{
    border-top: 1px solid rgb(164, 164, 164);
    border-right: 1px solid rgb(164, 164, 164);
    border-radius: 5px;
    margin: 5px 50px 50px;
    padding: 25px 0px 0px 0px;

}
#containeractu{
    border-top: 1px solid rgb(164, 164, 164);
    border-right: 1px solid rgb(164, 164, 164);
    border-radius: 5px;
    margin: 5px 50px 50px;
    padding: 25px 0px 0px 0px;
}
#containerpart{
    border-top: 1px solid rgb(164, 164, 164);
    border-right: 1px solid rgb(164, 164, 164);
    border-radius: 5px;
    margin: 5px 50px 50px;
    padding: 25px 0px 0px 0px;
}
#imgactu{
    border: 1px solid rgb(164, 164, 164);
    border-radius: 5px;
    padding: 2px 2px;
}
#partenaireimg div img{
    border: 1px solid rgb(164, 164, 164);
    padding: 2px 2px;
    border-radius: 5px;
}

#panellogin {
    display: none;
    width: 250px ;
    height: 25px;
    max-width: 250px;
    max-height: 25px;
    left: 0px;
    text-align: center;
    float: right;
    margin-right: 2px;
}
#panellogin form {
    top: 0;
    position: fixed;
    padding: 50px 0px 10px;



    background: white;

    border-left: 1px solid #2a2a2a;
    border-right: 1px solid #2a2a2a;
    border-bottom: 1px solid #2a2a2a;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}
